<!DOCTYPE html>
<html>
<div class="header">
  <div class="container-fluid">
    <a href=""><h1 class="brand"><span>GuidedML</span></h1></a>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

            <ul class="nav-items">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                    <li> <a href="{{ '/dashboard'}}">Dashboard</a></li>
                    <li>  <a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>



      {% block content %}
      {% endblock %}

</html>